<wm-page data-ng-controller="MembersPageController" name="page1">
    <wm-left-panel content="leftnav" name="left_panel1" animation="slide-over"></wm-left-panel>
    <wm-mobile-navbar name="mobile_navbar1" searchbutton="true" defaultview="searchview" on-search="mobile_navbar1Search($event, $scope)" backbutton="false" title="Members" on-backbtnclick="mobile_navbar1Backbtnclick($event, $scope)"></wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-livelist itemclass="list-group-item" dataset="bind:Variables.AIR_CREW_MANAGEMENTUserData.dataSet" title="" template="true" listclass="list-group" class="panel-default" datafield="All Fields" navigation="Scroll" orderby="fullName:asc" name="livelist3_1"
            groupby="livelist3_1groupby(rowData)">
                <wm-listtemplate layout="media" name="listtemplate3_1">
                    <wm-container class="media-left" name="container3_1">
                        <wm-picture class="media-object picture" width="30pt" picturesource="bind:Variables.AIR_CREW_MANAGEMENTUserData.dataSet.data[$i].picurl" name="picture2_1"></wm-picture>
                    </wm-container>
                    <wm-container class="media-body" data-template-ctr="true" name="container4_1">
                        <wm-label caption="bind:Variables.AIR_CREW_MANAGEMENTUserData.dataSet.data[$i].fullName" width="100%" class="h4 media-heading" name="label2"></wm-label>
                    </wm-container>
                </wm-listtemplate>
            </wm-livelist>
        </wm-page-content>
    </wm-content>
</wm-page>