<wm-page data-ng-controller="Assign_CrewPageController" name="page1">
    <wm-mobile-navbar name="mobile_navbar1" title="bind:&quot;Select Crew for &quot;+Variables.selected_flight_details.dataSet.FLIGHT_ID" searchbutton="false">
        <wm-button class="btn-primary" caption="Assign" type="button" name="button2_1" on-tap="Variables.Get_flight_details.invoke();button2_1Tap($event, $scope);Variables.AIR_CREW_MANAGEMENTExecuteGet_crew_details.invoke();Variables.get_crew_pic_url.invoke();Variables.getPendingCount.invoke()"
        margin="0.3em .5em unset unset" disabled="false" show="true"></wm-button>
    </wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1" backgroundcolor="#fff">
            <wm-layoutgrid name="layoutgrid1" columns="1">
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn colwidth="12" name="gridcolumn10">
                        <wm-tabs name="tabs1">
                            <wm-tabpane name="tabpane1" heading="CAPTAIN">
                                <wm-livelist listclass="list-group" itemclass="list-group-item" dataset="bind:Variables.available_Captains.dataSet" name="livelist2" on-doubletap="livelist2Doubletap($event, $scope)" show="bind:Variables.selected_flight_details.dataSet.CaptainCount != 0"
                                nodatamessage="No Captains Available" selectfirstitem="false" selectionlimit="1">
                                    <wm-listtemplate layout="blank" name="listtemplate2">
                                        <wm-layoutgrid name="layoutgrid4">
                                            <wm-gridrow name="gridrow9">
                                                <wm-gridcolumn columnwidth="12" name="gridcolumn18_1">
                                                    <wm-container name="container1" class="media" padding="0px unset">
                                                        <wm-container name="container2" class="media-left" width="15%">
                                                            <wm-picture class="media-object picture" width="30pt" name="picture2" picturesource="bind:Variables.available_Captains.dataSet[$i].PICURL"></wm-picture>
                                                        </wm-container>
                                                        <wm-container name="container3" class="media-body" width="50%">
                                                            <wm-label name="label18" caption="bind:Variables.available_Captains.dataSet[$i].FULL_NAME" fontweight="bold" margin="unset unset 0px unset"></wm-label>
                                                            <wm-label name="label20" caption="bind:&quot;Stationed at &quot; +Variables.available_Captains.dataSet[$i].LOCATION" class="p" borderwidth="unset unset 0px unset" margin="unset unset 0px unset"></wm-label>
                                                        </wm-container>
                                                        <wm-container name="container4" class="media-right" horizontalalign="center" width="35%">
                                                            <wm-label name="label19" caption="bind:Variables.available_Captains.dataSet[$i].HOURS==null ? &quot;8 Hours Left&quot; : ((8-Variables.available_Captains.dataSet[$i].HOURS)  + &quot;Hours Left&quot;)"
                                                            fontsize="0.85" fontunit="em" width="70%"></wm-label>
                                                        </wm-container>
                                                    </wm-container>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-listtemplate>
                                </wm-livelist>
                                <wm-gridrow name="gridrow9_1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn15_1">
                                        <wm-label caption="Captain  Already Selected" show="bind:Variables.selected_flight_details.dataSet.CaptainCount === 0" margin="unset unset unset 3em" color="#888" padding="0.9em unset 1em unset" name="label12"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow9_1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn15_1">
                                        <wm-label name="label15" caption=""></wm-label>
                                        <wm-label name="label16" caption="bind:&quot;Required Captains &amp;nbsp &amp;nbsp&quot;+Variables.selected_flight_details.dataSet.CaptainCount" show="bind:Variables.selected_flight_details.dataSet.CaptainCount != 0"
                                        horizontalalign="center" height="24" class="text-primary h4" textalign="center"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-tabpane>
                            <wm-tabpane name="tabpane2" heading="FIRST OFFICERS">
                                <wm-livelist listclass="list-group" itemclass="list-group-item" dataset="bind:Variables.availableFO.dataSet" name="livelist2_1" selectionlimit="bind:(Variables.selected_flight_details.dataSet.FoCount)" on-tap="livelist2_1Tap($event, $scope)"
                                show="bind:Variables.selected_flight_details.dataSet.FoCount != 0" nodatamessage="No FirstOfficers Available" multiselect="true">
                                    <wm-listtemplate layout="blank" name="listtemplate2_1">
                                        <wm-layoutgrid name="layoutgrid3">
                                            <wm-gridrow name="gridrow9_2">
                                                <wm-gridcolumn columnwidth="12" name="gridcolumn15_2">
                                                    <wm-container name="container1" class="media" padding="0px unset">
                                                        <wm-container name="container2" class="media-left" width="15%">
                                                            <wm-picture class="media-object picture" width="30pt" picturesource="bind:Variables.availableFO.dataSet[$i].PICURL" name="picture6"></wm-picture>
                                                        </wm-container>
                                                        <wm-container name="container3" class="media-body" width="50%">
                                                            <wm-label caption="bind:Variables.availableFO.dataSet[$i].FULL_NAME" name="label4" fontweight="bold" fontunit="em" class="p" margin="unset unset 0px unset"></wm-label>
                                                            <wm-label caption="bind:&quot;Stationed at &quot; +Variables.availableFO.dataSet[$i].LOCATION" name="label6" class="p" margin="unset unset 0px unset"></wm-label>
                                                        </wm-container>
                                                        <wm-container name="container4" class="media-right" horizontalalign="center" width="35%">
                                                            <wm-label caption="bind:Variables.availableFO.dataSet[$i].HOURS==null ? &quot;8 Hours Left&quot; : ((8-Variables.availableFO.dataSet[$i].HOURS)+ &quot;Hours Left&quot;)" name="label5" fontsize="0.85"
                                                            fontunit="em"></wm-label>
                                                        </wm-container>
                                                    </wm-container>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-listtemplate>
                                </wm-livelist>
                                <wm-gridrow name="gridrow11_1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn17_1">
                                        <wm-label caption="First Officer  Already Selected" show="bind:Variables.selected_flight_details.dataSet.FoCount === 0" margin="unset unset unset 3em" color="#888" padding="0.9em unset 1em unset" name="label14_1"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow10_1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn11">
                                        <wm-label caption="" name="label18_1"></wm-label>
                                        <wm-label caption="bind:&quot;Required FirstOfficers &amp;nbsp &amp;nbsp&quot;+Variables.selected_flight_details.dataSet.FoCount" show="bind:Variables.selected_flight_details.dataSet.FoCount != 0" name="label19_1"
                                        class="text-primary h4" textalign="center"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-tabpane>
                            <wm-tabpane name="tabpane3" heading="CABIN CREW">
                                <wm-livelist listclass="list-group" itemclass="list-group-item" dataset="bind:Variables.availableCC.dataSet" name="livelist3" selectionlimit="bind:(Variables.selected_flight_details.dataSet.CCCount)" on-tap="livelist3Tap($event, $scope)"
                                show="bind:Variables.selected_flight_details.dataSet.CCCount != 0" nodatamessage="No CabinCrew Available" multiselect="true">
                                    <wm-listtemplate layout="blank" name="listtemplate3">
                                        <wm-layoutgrid name="layoutgrid4_1">
                                            <wm-gridrow name="gridrow10">
                                                <wm-gridcolumn columnwidth="12" name="gridcolumn19_2">
                                                    <wm-container name="container1" class="media" padding="0px unset">
                                                        <wm-container name="container2" class="media-left" width="15%">
                                                            <wm-picture class="media-object picture" width="30pt" picturesource="bind:Variables.availableCC.dataSet[$i].PICURL" name="picture7"></wm-picture>
                                                        </wm-container>
                                                        <wm-container name="container3" class="media-body" width="50%">
                                                            <wm-label caption="bind:Variables.availableCC.dataSet[$i].FULL_NAME" name="label7" fontweight="bold" class="p" margin="unset unset 0px unset"></wm-label>
                                                            <wm-label caption="bind:&quot;Stationed at &quot; +Variables.availableCC.dataSet[$i].LOCATION" name="label9" class="p" margin="unset unset 0px unset"></wm-label>
                                                        </wm-container>
                                                        <wm-container name="container4" class="media-right" horizontalalign="center" width="35%">
                                                            <wm-label caption="bind:Variables.availableCC.dataSet[$i].HOURS==null ? &quot;8 Hours Left&quot; : ((8-Variables.availableCC.dataSet[$i].HOURS)+ &quot;Hours Left&quot;)" name="label8" width="70%"
                                                            fontsize="0.85" fontunit="em"></wm-label>
                                                        </wm-container>
                                                    </wm-container>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-listtemplate>
                                </wm-livelist>
                                <wm-gridrow name="gridrow11">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn17">
                                        <wm-label caption="Cabin Crew already selected" show="bind:Variables.selected_flight_details.dataSet.CCCount === 0" margin="unset unset unset 3em" color="#888" padding="0.9em unset 1em unset" name="label14"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow11_2">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn13">
                                        <wm-label caption="" name="label20_1"></wm-label>
                                        <wm-label caption="bind:&quot;Required CabinCrew &amp;nbsp &amp;nbsp&quot;+(Variables.selected_flight_details.dataSet.CCCount)" show="bind:Variables.selected_flight_details.dataSet.CCCount != 0" name="label21"
                                        class="text-primary h4" textalign="center"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-tabpane>
                        </wm-tabs>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow12"></wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
</wm-page>